/* RTL css */

*{ 
  margin:0;
  padding:0;
  outline:none;
}
html{
  overflow-x: hidden;
}
body{ 
  margin:0;
  padding:0;
  -ms-word-wrap:break-word;
  word-wrap:break-word;
  background-color:#fff;
  font-size:15px;
  color:#000;
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}
img{ 
  margin:0;
  padding:0;
  border:none;
  max-width:100%;
  height:auto;
}
section img{
  max-width:100%;
}
h1,
h2,
h3,
h4,
h5,
h6{ 
  margin:0;
  padding:0 0 15px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

p {
  margin: 0 0 15px;
  padding: 0;
  font-size: 15px;
  line-height: 1.5;
}
a{ 
  text-decoration:none;
  color:#002857; 
}
a:hover{ 
  text-decoration:none !important;
  color:#666;
}
a:focus,
input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="phno"]:focus, 
input[type="password"]:focus, 
input[type="search"]:focus,
input[type="tel"]:focus, 
textarea:focus,
input[type="submit"]:focus,
#comments:focus,
select{
  outline: 1px dotted #000;
  border-bottom: 1px solid #000;
  text-decoration:none !important;
}
ul,
ol{ 
  margin:0 15px 0 0;
  padding:0;
}
input[type='submit']{
  background-color: #000;
  padding: 1%;
  border: 0;
  color: #fff;
  margin: 2% 0;
}
.clear{ 
  clear:both;
}
input[type='submit']:hover{
  cursor: pointer;
}
input[type="text"],
input[type="email"],
input[type="phno"],
textarea{
  border:1px solid #bcbcbc;
  width:100%;
  font-size:16px;
  padding:10px 10px;
  margin:0 0 23px 0;
  height:auto;
}
textarea{
  height:111px;
}
select{
  width:100%;
}
.center{ 
  text-align:center;
  margin-bottom:40px;
}
.middle-align{
  margin:0 auto;
  padding:0;
}
.wp-caption{ 
  margin:0;
  padding:0;
  font-size:13px;
  max-width:100%;
}
.wp-caption-text{ 
  margin:0;
  padding:0;
}
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  right: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}
.sticky{ 
  margin:0;
  padding:0;
}
.gallery-caption{ 
  margin:0;
  padding:0;
}
.alignleft,
img.alignleft {
  display: inline;
  float: right;
  margin-left:10px;
  margin-top:4px;
  margin-bottom:20px;
  padding:0;
}
.alignright,
img.alignright { 
  display: inline;
  float: left;
  margin-right:10px;
}
.aligncenter,
img.aligncenter { 
  clear: both;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top:0;
}
.comment-list .comment-content ul { 
  list-style:none;
  margin-right:15px;
}
.comment-list .comment-content ul li{
  margin:5px;
}
.toggleMenu{
  display:none;
}
.bypostauthor{ 
  margin:0;
  padding:0;
}
section{ 
  padding:34px 0;
  position:relative;
  max-width:1400px;
  margin:0 auto;
}
h2.section-title { 
  font-size:30px;
  font-weight:700;
  padding:0 0 45px 0;
  text-align:center;
  display:table;
  margin-bottom:50px;
}
table, th, td {
  border: 1px solid #d1d1d1;
}

/* ------------------------------------ HEADER ---------------------------------------- */
.page-template-custom-home-page .menu-sec{
  border: none;
}
.menu-sec {
  background: #fff;
  border-bottom: 2px solid #092857;
}
.header .logo{
  padding: 5px 5px;
}
.header .logo h1,
.header .logo p.site-title{ 
  text-transform:uppercase;
  margin-bottom:3px;
  font-size:30px;
  font-weight:bold;
  font-family: 'Ubuntu', sans-serif;
  padding: 3px 0;
}
.logo h1 a, .logo p.site-title a{ 
  color:#092857;
}
.logo p.site-title {
  margin: 0;
  line-height: 1;
  padding: 3px 0px;
}
p.site-description{ 
  font-size:12px;
  color: #092857;
  margin: 0 0 10px;
}
.header .header-top{
  background:#002857;
  color:#fff;
  border-bottom: solid 1px;
}
.header .header-top a{
  color:#fff;
}
.header .header-top span i{
  margin-left:5px; 
}
.header .top-contact{
  padding:12px 0;
}
.header-top h3.widget-title{
  display: none;
}
.header .social_widget .widget {
  margin:0px;
}
.header .custom-social-icons {
  text-align: left;
}
.header .custom-social-icons h3{
  display: none;
}
.custom-social-icons a {
  margin-left: 10px;
  color: #fff;
}
.custom-social-icons a:focus{
  outline: 1px dotted #fff;
  border-bottom: 1px solid #fff;
}
.custom-social-icons {
  margin: 5px 0;
}
.custom-social-icons i{
  padding: 10px;
}
.custom-social-icons i:hover{
  background-color: #fff;
  color: #002857;
}
.buttonbox a{
  background:#3890cb;
  color:#fff;
  padding:8px 15px;
  display:block;
  margin:27px 0 10px 0;
  border-radius:5px;
  text-align:center;
}

.buttonbox a:hover{
  background:#000;
  color:#fff;
}

/* --------- SLIDER--------- */
.slider{ 
  max-width:100%; 
  margin:auto; 
  padding:0;
  background: #000;
}
.slider img {
  width: 100%;
  opacity: 0.7;
}
.slider .carousel-item-next,.slider .carousel-item-prev,.slider .carousel-item.active {
  display: block !important;
}
.slider .carousel-control-prev-icon i, .slider .carousel-control-next-icon i{
  padding: 10px 12px;
  color: #fff;
  font-size: 26px;
  opacity: 0.8;
  border: 2px solid;
}
.slider .carousel-control-next, .slider .carousel-control-prev{
  opacity: 1;
  top:auto;
}
.slider .carousel-control-next-icon, .slider .carousel-control-prev-icon{
  width: auto !important;
  height: auto;
  background:transparent !important;
}
.slider .carousel-caption{
  top: 50%;
  transform: translateY(-50%);
  left: 30%;
  right: 10%;
}
.slider .inner_carousel h1 {
  margin: 0;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.slider .inner_carousel p {
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 15px;
  line-height: 2;
  color:#fff;
}
.slider .inner_carousel {
  text-align:right;
  color: #fff;
}
.slider .more-btn a{
  padding: 13px 25px;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  border: 2px solid;
  border-radius: 25px;
  text-decoration: none;
}
.slider .more-btn a:hover{
  color: #002857;
  background: #fff;
  border-color: #fff;
}
.slider .more-btn{
  margin: 25px 0;
}
/*---- slider end-------*/

.page-template-custom-home-page .header-image,.header-image.bg-image img {
  display: none;
}
/* --------- MENUS CSS --------- */
#mySidenav {
  display: inline;
}
ul.list_nav {
  margin: 0 auto;
  text-align: center;
  display: block;
}
.main-navigation ul{
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
.main-navigation li{
  display: inline-block;
  position: relative;
}
.main-navigation a{
  display: block;
  margin-top: 15px;
  color: #002857;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 15px;
}
.main-navigation a:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(0, 40, 87);
  border-radius: 5px;
}
.main-navigation a:focus{
  outline: 1px dotted #fff;
  border-bottom: 1px solid #fff;
}
.main-navigation ul ul{
  display: none;
  position: absolute;
  background: #fff;
  min-width: 200px;
  z-index: 9999;
  top: 90%;
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #092857;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #092857;
  line-height: 30px;
  border-radius: 5px;
}
.main-navigation ul ul ul{
  right: 100%;
  top: 0%;
}
.main-navigation ul ul a{
  color: #000 ;
  border: none;
  padding: 5px 10px ;
  border-bottom: 1px solid #eaeaea;
  margin-top: 5px;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
}
.main-navigation ul.sub-menu a:hover{
  color: #092857;
  padding-right: 50px !important;
  background-color: #fff;
}
.main-navigation ul.sub-menu>li>a:before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  margin-top: 15px;
  right: 0;
  opacity: 0;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  background: #222;
}
.main-navigation ul.sub-menu>li>a:hover:before {
  opacity: 1;
  right: 15px;
  width: 20px;
}
.main-navigation ul ul a:focus{
  outline: 1px dotted #000;
  border-bottom: 1px solid #000;
}
.main-navigation ul ul li{
  float: none;
  display: block;
  text-align: right;
  border-right: none;
  border-left: none !important;
  padding: 0;
}
.main-navigation ul ul li:last-child{
  border-bottom: 0;
}
.main-navigation ul li:hover > ul{
  display: block;
}
.main-navigation .menu > ul > li.highlight{
  background-color: #006ccc;
}
.main-navigation .menu > ul > li.highlight:hover{
  background: transparent;
}
/*--------------- SUPERFISH MENU ---------------------------*/

.sf-arrows ul .sf-with-ul:after{
  margin-top: -5px;
  margin-left: -3px;
  border-color: transparent;
  border-right-color: #888;
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after{
  border-right-color: #333;
}
.toggle-nav, a.closebtn{
  display: none;
}

/*----menubar----*/
.menubar .search-form .search-submit{
  font-weight: normal;
  letter-spacing: 1px;
  background: url(images/search.png) no-repeat;
  text-indent: -9999px;
  background-color: transparent;
  border: none;
  position: absolute;
  left: 0;
  top: 16px;
}
.menubar input[type="search"]{
  background: #fff;
  padding: 6px;
  font-size: 13px;
  color: #000;
  border:1px solid #fff;
}
.menubar form.search-form{
  padding: 0px 15px;
  background: #fff;
  margin: 5px 0;
  border-radius: 15px;
}
.menubar input[type="submit"]{
  margin:0px;
}
.menubar input[type="search"]::placeholder{
  color: #bbb;
  font-style: italic;
}
.menubar {
  background: #3ca6d4;
  border-bottom: 2px solid #dadadc;
}
/*--------- Our Services ------------*/
h2.section-title a {
  /*border-left: 20px solid #002857;*/
  padding-right: 10px;
  margin-right: -15px;
  color: #002857;
}
.box-image1 img {
  width: 15%;
} 
.inner-service {
  border: 1px solid #dddddd;
  padding: 10px 20px 0 !important;
  margin: 0;
  box-shadow: -1px 1px 7px #bbb;
  margin-bottom: 30px;
}
iframe{
  width: 100%;
}
.entry-audio audio {
    width: 100%;
}
#our-services{
  padding: 2% 0;
}
#our-services small{
  color:#6d6d6d;
  margin:0 0 20px 0;
}

#our-services .services-box{
  margin:10px 0;
}
#our-services .subtitle {
  text-align: center;
  padding: 0 0 0px 0;
  margin: 0 0 25px 0;
  font-size: 14px;
  color: #002857;
}
a.r_button {
  padding: 5px 15px;
  color: #002857;
  margin-bottom: 5%;
  border: 2px solid #002857;
  text-decoration: none;
  font-weight: bold;
}
#our-services .box-content p {
  color: #002857;
  font-size: 12px;
}
#our-services .box-content h3 {
  font-size: 18px;
}
#our-services .box-content {
  margin-top: 15px;
}
/* --------- Homepage --------- */
#our-services .innerlightbox h2{
  font-weight: bold;
  text-align: center;
  margin: 0 0 7px;
  padding: 0;
  font-size: 30px;
  color: #002857;
}
section h3 {
  font-weight: bold;
  text-align: center;
  margin: 0 0 7px;
  padding: 0;
  font-size: 30px;
  color: #002857;
}
section h4 {
  color: #000;
  font-weight: bold;
  font-size: 20px;
}
section { 
  width:100%;
  margin:0 auto;
  position:relative;
  background-color:#ffffff;
}

.section-title {
  margin: 0 0 15px 0;
  text-align: right;
}
.box-image {
  margin-bottom: 2%;
}
.services {
  padding:0;
}
.services .section-title a:hover{
  text-decoration:none;
}
.services .new-text p{
  font-size: 16px;
  color: #727272;
  margin: 0 0 10px;
  line-height:23px;
}
.services .about-us{
  padding: 10px;
  margin-top:20px;
}
.services  .about-us a{
  border: 1px solid #000;
  padding:8px 20px;
  color: #000;
  text-decoration:none;
  text-transform: uppercase;
  font-size: 19px;
}
.services .button{
  margin: 0 18%;
  display: inline-block;
}

/*-----Blog post css-----------*/
.bradcrumbs{
  padding:30px 0;
}
.bradcrumbs a{
  background:#f1f1f1;
  color:#000;
  padding:5px 15px;
  margin-left:5px;
  line-height: 37px;
  text-decoration: none;
}
.bradcrumbs a:hover{
  background: #3890cb;
  color: #fff;
  text-decoration: none;
}
.bradcrumbs span{
  background:#dddddd;
  color:#000;
  padding:5px 15px;
}
.single .inner-service{
  border: none;
  box-shadow: none;
}
.services-box h2{
  padding: 0px;
  margin: 0;
  font-size: 25px;
}
/*----------------- Sweep To Right ----------------------*/
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #002857;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:active {
  color: #fff;
  text-decoration: none;
}
.hvr-sweep-to-right:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* --------- Blog Page ------- */

.blogbutton-small{
  background:none;
  color:#fff;
  font-size:12px;
  font-weight:bold;
  color:#fff;
  padding:6px 25px;
  border:1px solid #000;
  color:#000;
  font-size:14px;
  text-transform:uppercase;
  margin:25px 0 0 0;
  display:table;
}
.entry-content a, .sidebar .textwidget p a, .textwidget p a, #comments p a, .slider .inner_carousel p a{
  color: #007bff;
  text-decoration: underline;
}
.tags {
  padding-top: 10px;
}
.tags a {
  text-decoration: none!important;
  font-weight: 400;
  /* border-radius: 3px; */
  color: #121212!important;
  background: #f8f8f8;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0,0,0,.08);
  text-shadow: none;
  line-height: 3.5;
  padding: 8px;
  margin: 5px;
  font-size: 15px;
}

/* --------- single content ------- */

.single-post h1{
  color: #002857;
  margin:0 ;
  padding: 0;
  font-size: 30px;
}
.metabox{
  margin: 10px 0;
  color:#002857;
  clear:both;
}
.metabox span{
  margin-left: 10px;
}
.metabox i{
  margin-left: 5px;
}
.metabox a{
  color: #002857;
}
.metabox{
  color: #000;
    clear: both;
    font-size: 12px;
    letter-spacing: 1px;
    background: #f1f1f1;
    padding: 10px;
    margin-bottom: 15px;
}
/*----------- STICKY HEADER ----------*/

.header-fixed {
  position: fixed;
  top:0; right:0;
  width: 100%;
  background: #fff;
  z-index: 999999;
}
.page-template-custom-home-page .menu-sec.header.header-sticky.header-fixed{
  border-bottom: 2px solid #002857;
}
/*----------- PRELOADER ----------*/

#preloader  {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99;
  height: 100%;
}
#status  {
  width: 200px;
  height: 200px;
  position: absolute;
  right: 50%;
  top: 50%;
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px -100px 0 0;
}

/*----------- FOOTER SECTION ----------*/
.scrollup i {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 50px;
  left: 50px;
  font-size: 20px;
  display: none;
  color: #fff;
  padding: 10px;
  background: #002857;
  border: solid 1px #fff; 
}
.scrollup.left i{
  right: 50px;
}
.scrollup.center i{
  right: 50%;
  left: 50%;
}
/* Comments BOX */
#comments{
  margin-top:40px;
}
#comments h2.comments-title{
  font-size:22px;
  font-weight:bold;
  border-top:2px dotted #7e7e7e;
  padding:10px 0 0 0;
}
#comments h3.comment-reply-title{
  font-size:20px;
  font-weight:bold;
  clear:both;
}
#comments input[type="text"],
#comments input[type="email"],
#comments textarea {
  padding:12px 10px;
  font-size:18px;
  margin:20px 0 0 0;
}
#comments input[type="submit"].submit{
  background:#002857 !important ;
  padding:10px 30px;
  text-transform:uppercase;
  font-weight:bold;
  margin-top:20px;
  margin-right:0px;
}
#comments a.comment-reply-link{
  color:#fff;
  background:#002857;
  padding:5px 15px;
}
#comments a.comment-reply-link:hover{
  background:#cecece;
  color: #000;
  text-decoration: none;
}
#comments a time{
  color:#000;
  font-weight:bold;
  font-size:12px;
}
 #comments ol li{
  width:100%;
  list-style:none;
  margin: 0 0 20px;
  padding: 20px;
  background:#f8f8f8;
  display:inline-block;
  border: 1px solid #d6d6d6;
} 
 #comments ul{
  margin:0 40px 0 0;
}
#comments .reply{
  float:left;
}
.comment-respond{
  clear:both;
}
#comments .comment-metadata{
  width:90%;
  float:right;
  padding:1% 0 0 0;
}
#comments .comment-content{
  width:90%;
  float:right;
  margin-right:7%;
}
#comments p {
  width:86%;
  float:right;
}
.content-vw {
  padding: 10px 0;
}
/*----------single-post-comments---------*/
.comments .comment-author, .comment-author.vcard {
  width: 50%;
  float: right;
}
.comment-meta.commentmetadata {
  float: left;
  width: 50%;
  text-align: left;
}
.comments p {
  width: 90%;
  float: right;
}
.comments .reply {
  float: right;
}
.reply {
  margin-bottom: 15px;
  width: 100%;
  float: right;
}
/*-------------- Sidebar ---------------*/
.tagcloud a {
  color: #fff;
}
.footersec select,
.sidebar select,
.sidebar .textwidget p {
  padding: 10px;
}
.sidebar .custom-social-icons a {
  margin-left: 10px;
  color:#002857;
}
.sidebar .custom-social-icons {
  margin: 5px 0;
  text-align: center;
}
.sidebar .custom-social-icons i{
  padding: 10px;
}
.sidebar .custom-social-icons i:hover{
  background-color: #002857;
  color: #fff;
}
.sidebar td,.sidebar th,
.sidebar table#wp-calendar a {
  color: #000;
}
.sidebar form{
  display: table;
  width: 100%;
  padding: 10px;
}
.sidebar h3 {
  margin: 0 0 15px !important;
  padding: 5% 10% !important;
  font-size: 20px !important;
  background: #002857;
  color: #fff;
}
.sidebar aside,
.sidebar .widget {
  border: 1px solid #bbb;
  box-shadow: -1px 1px 7px #bbb;
}
.sidebar input[type="search"] {
  background:#eeeeee;
  padding:9px 10px;
  border:none;
  font-size:15px;
  color:#000;width:100%;
}
.sidebar label{
  width:100%;
}
.sidebar input[type="submit"]{
  background:#002857;
  border:none;
  color:#fff;
  padding:10px 0;
  width:100%;
  font-size:14px;
  float:right;
  margin:0;
}
.sidebar aside{
  margin-bottom:30px;
}
.sidebar aside.widget_search{
  padding-bottom:0;
}
.sidebar ul {
  list-style:none;
  margin:0;
  padding:0;
}
.sidebar ul li{
  background:url('images/bullets-sidebar.png') no-repeat 100% 7px;
  margin:0 17px 15px;
  padding:0 23px 0 0;
  font-weight:bold;
  list-style: none;
}
.sidebar ul li a{
  color:rgba(0, 0, 0, 0.78);
}
aside.widget ul ul {
  margin: 0;
}
.sidebar ul li li {
    margin: 0px;
    padding-right: 0;
}
.sidebar ul li li a {
  padding-right: 20px;
}
.sidebar .tagcloud a,
.footersec .tagcloud a{
  background:#eeeeee;
  color:#000;
  font-size:15px !important;
  padding:5px 18px;
  margin:5px;
  display:inline-block;
  text-decoration: none;
  border: 1px solid;
}
.sidebar .tagcloud a:hover{
  background:#002857;
  color: #fff;
} 
.footersec .tagcloud a:hover{
  background: transparent;
  color: #fff;
}

/* Page */
span.page-links-title {
  clear: both;
  position: relative;
  font-size: 14px;
  line-height: 13px;
  font-weight: bold;
  padding: 14px;
}
span.page-number, span.page-links-title {
  display: block;
  float: right;
  margin: 2px 0 2px 2px;
  text-decoration: none;
  width: auto;
  color: #fff;
  font-weight: bold;
  background: #002857;
  -webkit-transition: background .15s ease-in-out;
  -moz-transition: background .15s ease-in-out;
  -ms-transition: background .15s ease-in-out;
  -o-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
span.page-number {
  padding: 10px 15px;
}
.title-box{
  background-repeat:no-repeat;
  background-size:100% 100%;
  color:#fff;
  text-transform:uppercase;
  padding:75px 0;
  font-weight:bold;
  text-align:center;
  margin-bottom:25px;
}
.date-box,
.cat-box{
  font-style:italic;
  margin:10px 0;
  color: #002857;
} 
.date-box i,
.cat-box i{
  margin-left: 10px;
  color: #002857;

}
.single .title-box{
  background-size:100% 100%;
}
.content-vw p{
  line-height: 25px;
  font-size: 16px;
  margin:0 0 20px 0;
}
.content-vw hr{
  border:none;
  border-bottom:2px dotted #7e7e7e;
  margin:15px 0;
  clear:both;
}
.content-vw h1{
  font-size:35px;
}
.content-vw h2{
  font-size:32px;
  padding:0;
  margin:0 0 25px;
}
.content-vw h3{
  font-size:36px;
  padding:0;
  margin:0 0 25px;
}
.content-vw h4{
  font-size:20px;
  padding:0;
  margin:0 0 25px;
}
.content-vw  h6{
  font-size:18px;
}
.content-vw  h6{
  margin:0 0 15px;
  font-size:17px;
  padding:0;
}
.content-vw ul,.content-vw ol{
  margin:0 10px 0 0;
  font-size:16px;
}
.content-vw ul li,.content-vw ol li{
  padding:0 5px 0 0;
  line-height:25px;
}
.content-vw  h5{
  margin:0 0 15px;
  font-size:18px;
  padding:0;
}
.read-moresec{
  margin:2% 0;
}
a.button {
  border: 2px solid #000;
  background: #fff;
  color: #000;
  font-size: 16px;
  margin: 20px 0 0;
  padding: 7px 30px;
  text-transform: uppercase;
  font-weight: bold;
}
.page-content h1{
  padding: 0 0 5px;
}
.page-content, .page-content p {
  text-align: center;
}
.page-content p {
  margin: 0;
}
.page-content .read-moresec {
  margin: 0;
  margin-bottom: 20px;
}
/* Pagination */
.pagination {
  clear:both;
  position:relative;
  font-size:14px;  
  line-height:13px;
  float:left;  
  font-weight:bold;
  width:100%;
} 
.pagination span, .pagination a {
  display:block;
  float:right;
  margin: 2px 0 2px 2px;
  padding:10px 15px;
  text-decoration:none;
  width:auto;
  color:#fff;  
  background: #002857 ;  
  -webkit-transition: background .15s ease-in-out;
  -moz-transition: background .15s ease-in-out;
  -ms-transition: background .15s ease-in-out;
  -o-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
} 
.pagination a:hover{
  color:#000;
  background: #eee;
} 
.pagination .current {
  padding: 10px 15px;
  background: #eee;
  color: #000;
  font-weight: bold;
}
.content-vw .pagination ul{
  margin:0;
  clear:both;
}
.content-vw .pagination ul li{
  margin:0;
}
/*------single-post-pagination------*/
.post-navigation a {
  color: #1a1a1a;
  display: block;
}
.nav-next {
  float: left;
  width: 50%;
  text-align: left;
}
.nav-previous {
  width: 50%;
  float: right;
  text-align: right;
}
.nav-next span.meta-nav:after{
  content: "\f30b";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 18px;
  margin-right: 10px;
}
.nav-previous span.meta-nav:before{
  content: "\f30a";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 18px;
  margin-left: 10px;
}
.post-navigation span.meta-nav {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 0;
  padding: 15px;
}
.post-navigation span { 
  display: block;
}
.post-navigation .post-title {
  display: none;
}
/*copyright css*/
.footersec a:focus{
  outline: 1px dotted #fff;
  border-bottom: 1px solid #fff;
}
table#wp-calendar,
table#wp-calendar caption ,
table#wp-calendar a,
.footersec .textwidget p,
.footersec .rssSummary,
.footersec cite,
.footersec .widget li {
  color: #fff;
}
.footersec .widget li a,
aside#categories-5 li a {
  color: #fff;
  font-size: 16px;
}
.footersec .widget ul {
  margin: 0  !important;
}
.footersec .widget li {
  list-style: none !important;
  margin-top: 8px;
}
.footersec {
  background: #002857;
}
.footersec label,
.footersec input.search-field{
  width: 100%;
}
.footersec input[type='submit']{
  width: 100%;
  float: none;
  color: #000;
  background: #fff;
  color:1px solid;
}
h3.widget-title,
h3.custom_title {
  font-size: 30px;
  color: #fff;
  border-bottom: solid 2px rgba(255, 255, 255, 0.42);
  padding-bottom:15px;
  margin-bottom:15px;
}
.copyright-wrapper { 
  padding:15px 0;
  border-top: 1px solid #fff;
  background-color: #002857;
}
.copyright p,
.copyright a{
  color: #fff;
  font-size: 15px;
  margin: 0;
  text-align: center;
}
.textwidget p a,
#comments p a{
  text-decoration: underline;
}

/* Woocommerce Footer css */
.footer-sec  .widget.woocommerce .cart_list li{
  padding-bottom: 10px;
}
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img{
  width: 50px;
  height: 50px;
}
.woocommerce .widget_shopping_cart .total, 
.sidebar p.woocommerce-mini-cart__buttons.buttons{
  padding: 10px;
  margin: 0;
}
.woocommerce .widget_shopping_cart .cart_list li a.remove, .woocommerce.widget_shopping_cart .cart_list li a.remove{
  top: 5px;
}
.woocommerce .widget_shopping_cart ul.cart_list li{
  background: none;
}
.sidebar .widget_rating_filter ul li,
.sidebar .woocommerce ul.cart_list li, .sidebar .woocommerce ul.product_list_widget li{
  padding: 0 25px 10px 0;
  margin: 0 10px;
}
.widget .woocommerce-product-search button[type="submit"]{
  background: #002857;
  color: #fff;
  padding:10px;
  width: 100%;
  border:none;
  margin-top: 8px;
}
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle{
  background: #002857;
}
.footersec .widget_shopping_cart .total,
.footersec .widget .price_label{
  color: #fff;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content,
.footersec .widget_price_filter .price_slider_wrapper .ui-widget-content{
  background: #000;
}
.footersec p.woocommerce-mini-cart__buttons.buttons a.button,
.footersec .woocommerce-product-search button[type="submit"],
.footersec .widget_price_filter .ui-slider-horizontal .ui-slider-range, 
.footersec .widget_price_filter .ui-slider .ui-slider-handle,
.footersec .widget_price_filter .price_slider_amount .button{
  background: #fff;
  color: #000
}
.woocommerce ul.cart_list li .star-rating, .woocommerce ul.product_list_widget li .star-rating{
  margin: 6px 0;
}
.woocommerce .star-rating{
  width: 5.6em;
}
.widget .price_label {
  font-size: 15px;
  letter-spacing: 0;
}

/* Woocommerce CSS */
.select2-container--default .select2-selection--single{
  height: 40px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
  padding: 5px 8px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
  top: 8px;
}
.woocommerce form .form-row input.input-text {
  padding: 8px;
}
.related.products h2 {
  text-align: right;
}
.woocommerce .star-rating span::before {
  color: #f3f321;
}
.woocommerce ul.products li.product .star-rating{
  margin: 0 auto 8px;
  font-size: 15px !important;
}
.woocommerce span.onsale{
  background: #002857;
  padding: 0;
}
.products li {
  border: solid 1px #bbb;
  padding: 10px !important;
  width: 29% !important;
  text-align: center;
}
h2.woocommerce-loop-product__title,
.woocommerce div.product li .product_title {
  color: #000;
  font-weight: 600;
  text-align: center !important;
}
.woocommerce ul.products li.product .price,
.woocommerce div.product p.price, .woocommerce div.product span.price {
  color: #000;
}
.woocommerce div.product .product_title,.woocommerce div.product p.price, .woocommerce div.product span.price{
  margin-bottom: 5px;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
  background: #002857;
  color: #fff;
  border-radius: 0;
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover,.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover{
  background: #000;
  color: #fff;
}
.woocommerce .quantity .qty {
  width: 5em;
  padding: 7px;
  border-radius: 0;
  border: solid 1px #000;
  color: #000;
}
.col-1,.col-2 {
  max-width: 100%;
}
.woocommerce .col2-set .col-1 {
   max-width: 100%;
}
.woocommerce .col2-set .col-2 {
   max-width: 100%;
}
nav.woocommerce-MyAccount-navigation ul {
  list-style: none;
}
nav.woocommerce-MyAccount-navigation ul li {
  background: #002857;
  padding: 12px !important;
  margin-bottom: 10px;
}
nav.woocommerce-MyAccount-navigation ul li a{
  color: #fff;
}
span.posted_in {
  display: block;
}
span.woocommerce-input-wrapper {
  width: 100%;
}
select.orderby {
  padding: 10px;
}
.woocommerce-product-gallery__image{
  padding: 2px;
}
.woocommerce .cart .button, .woocommerce .cart input.button{
  padding: 12px;
}
nav.woocommerce-MyAccount-navigation ul li a, .woocommerce-account .woocommerce-MyAccount-content a, .woocommerce-info a, .woocommerce-privacy-policy-text a, td.product-name a, a.shipping-calculator-button{
  text-decoration: none !important;
}
.woocommerce .woocommer1443ce-breadcrumb, .woocommerce .woocommerce-breadcrumb {
  margin: 1em 0px 1em;
}
/* Woocommerce CSS End*/
.pagination{
  display:table;
  clear:both;
}
.pagination ul{
  list-style:none;
  margin:20px 0;
}
.pagination ul li{
  display:inline;
  float:right;
  margin-left:5px;
}
.pagination ul li span,
.pagination ul li a{
  background:#222222;
  color:#fff;
  padding:5px 10px;
  display:inline-block;
}
h1.entry-title,
h1.page-title{
  border-top: 1px solid #fff;
  padding-bottom:20px;
  font-size:30px;
  text-transform:uppercase;
}
article.tag-sticky-2{
 /* background:#f6f6f6;*/
  padding:10px;
}
article img{
  height:auto;
}
article p{
  margin:10px 0;
}
input.search-field,
.post-password-form input[type=password]{
  border:1px #eee solid;
  padding:10px;
}
input.search-submit,
.post-password-form input[type=submit]{
  border:none;
  color:#ffffff;
  padding:10px 15px;
  cursor:pointer;
  background: #002857;
}
aside.widget{
  margin-bottom:30px;
  margin-top: 5%;
}
.footersec .widget{
  margin-bottom:30px;
  margin-top: 5%;
}
aside.widget ul{ 
  list-style:disc;
  margin-right:13px;
}
.nav-previous{
  float:right;
  margin-top:10px;
  margin-bottom:10px;
  width: 50%;
}
.nav-next{
  float:left;
  margin-top:10px;
  margin-bottom:10px;
  width: 50%
}
nav.post-navigation{
  padding:10px 0 20px;
  clear: both;
  font-weight: bold;
}
.webicon{
  font-size:20px;
}
.sidebar ul{ 
  list-style:none;
  margin:0;
  padding:0;
}
.comment-list, ol.comment-list{
  list-style:none;
  margin-right:0;
  margin-top:20px;
  margin-bottom:20px;
}
.comment-list ul, ol.comment-list ul{
  list-style:none;
}
.comment-list li.comment{
  margin-top:20px;
}
.comment-list .comment-content h1,
.comment-list .comment-content h2,
.comment-list .comment-content h3,
.comment-list .comment-content h4,
.comment-list .comment-content h5,
.comment-list .comment-content h6{
  margin-top:15px;
}


/* Calendar widget */
.widget.widget_calendar table {
  margin: 0;
  width:100%;
}
.widget_calendar td,
.widget_calendar th {
  line-height: 2.5625;
  padding: 0;
  text-align: center;
}
.widget_calendar caption {
  font-weight: 900;
  margin-bottom: 1.75em;
  color: #000;
  padding-right: 15px;
}
.widget_calendar tbody a {
  background-color: #007acc;
  color: #fff;
  display: block;
  font-weight: 700;
  padding: 0px 6px;
}
.widget_calendar tbody a:hover,
.widget_calendar tbody a:focus {
  background-color: #686868;
  color: #fff;
}
/*responsive menu*/
@media screen and (max-width:720px) {
  .pagination{
    float:none;
  }
  .services .button {
    margin: 0 auto;
    display: block;
    width: 34%;
  }
  .home .inner-service{
    margin: 20px 12px 0px 12px;
    min-height: auto;
  }
  .header .top-contact,
  .header .custom-social-icons,
  .slider .inner_carousel{
    text-align: center;
  }
  .slider .inner_carousel h1,
  .slider .inner_carousel p{
    display: none;
  }
  .slider .more-btn{
    margin: 0px;
  }
  .slider .carousel-caption{
    left: 10%;
  }
  .slider .more-btn a {
    padding: 5px 10px;
  }
  .slider .carousel-control-next, .slider .carousel-control-prev{
    top:0;
  }
  .nav-links {
    padding-top: 20px;
  }
}
@media screen and (max-width:575px) {
  .inner-service{
    margin: 15px;
  }
  h1.page-title {
    padding: 0 20px; 
  }
  #our-services {
    padding: 2% 20px;
  }

}
@media screen and (max-width:767px) {
  .header .logo{
    padding: 5px 15px;
  }
  .carousel-control-next {
    left: 12px;
  }
}
@media screen and (min-width: 320px) and (max-width: 375px){
  h3.section-title a{
    padding-right: 12px;
    font-size: 20px;
  }
}
@media screen and (min-width: 769px) and (max-width: 991px){
  .slider .carousel-caption{
    top: 40%;
  }
  .slider .inner_carousel h1 {
    font-size: 25px;
  }
  .slider .inner_carousel p {
    font-size: 13px;
  }
  .slider .more-btn a {
    font-size: 10px;
  }
}
/*------------------RESPONSIVE MEIDA-------------------*/
@media screen and (max-width: 1000px){
  .menubar .nav ul li a:focus,
  a.closebtn.mobile-menu:focus{
    outline: 1px dotted #000;
    border-bottom: 1px solid #000;
  }
  .toggle-nav {
    display: none;
    text-align: center;
    margin: 15px 0;
  }
  .toggle-nav i {
    font-size: 25px;
    color: #000;
    border: 1px solid;
    padding: 10px;
    border-radius: 50px;    
  }
  .toggle-nav button {
    background: transparent;
    border: none;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1; 
    right: 0;
    top: 0;
    background-color: rgba(0,0,0, 0.9); 
    overflow-x: hidden; 
    transition: 0.5s;
    overflow-y: scroll;
    background: #fff ;
    background-size: 100% 100%;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
    display: block !important;
    color: #000;
    border:none;
    background: transparent;
    margin-top: 0;
  }
  .sidenav #site-navigation {
    width: 100%;
  }
  .toggle-nav span{
    font-size:30px;
    cursor:pointer; 
    text-align: left;
  }
  .toggle-nav{
    display: block;
  }
  .toggle i.fa.fa-bars,.toggle i.fa.fa-times {
    float: left;
    color: black;
  }
  .main-navigation ul{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center; 
    margin-top: 0px;
    float: none;
  }
  .main-navigation ul ul li{
    display: block;
  }
  .menubar .nav ul li{
    border-top:1px #f1f1f1 solid; 
    display:block;
  }
  .main-navigation ul li a{
    padding: 8px;
    text-decoration: none;
    font-size: 15px;
    color: #000 !important;
    display: block; 
    transition: 0.3s;
    float: none;
    margin: 5px 0;
    border-left: none;
    border-top: 1px solid #f1f1f1;
    background: #fff !important;
  }
  .main-navigation ul li ul li a:before{
    content:"\00BB \00a0";
  }
  .main-navigation ul.sub-menu a:hover{
    padding-right:20px !important;
    background: #fff !important;
  }
  .main-navigation ul ul{
    position: static;
    width: 100%;
    background: transparent;
    border-top-width: 0px;
    border-bottom-width: 0px;
    box-shadow: none;
  }
  .main-navigation ul ul a{
    border-bottom: none;
    text-align: center;
    padding-right: 40px;
  }
  .main-navigation ul ul ul.sub-menu a{
    padding-right: 40px;
  }
  .main-navigation li{
    padding: 0;
    display: block;
    text-align: center;
  } 
  .main-navigation ul li:last-child{
    border-bottom: 1px #f1f1f1 solid;
  }
  .main-header-box{
    padding-bottom: 15px;
  }
  #mySidenav {
    text-align: right;
    display: inline;
  }
  .main-menu {
    padding: 0em;
    padding-top: 50px;
  }
  .main-navigation ul.sub-menu>li>a:before {
    content: unset;
  }
  .main-navigation ul.sub-menu>li>a:hover:before {
    opacity: 0;
    right: 0px;
    width: 0px;
  }
  #mySidenav {
    transition: all 0.5s ease-in-out;
    cursor: zoom-in;
    z-index: 999999;
    width: 100%;
    top: -110%;
  }
  .sf-arrows .sf-with-ul:hover:after,
  .main-navigation ul li li:hover .sf-with-ul:after{
    content: '\f107';
    font-weight: 600;
    font-family: 'Font Awesome 5 Free';
    color: #000;
  }
  .sf-arrows .sf-with-ul:after{
    content: '\f106';
    position: absolute;
    height: 0;
    width: 0;
    border-top-color: #e1e1e1;
    color: #000;
    font-weight: 600;
    font-family: 'Font Awesome 5 Free';
    margin-top: 0px;
    font-size: 12px;
    padding: 0px 10px;
  }
  .custom-social-icons i {
    padding: 6px;
  }
}
@media screen and (max-width: 720px) and (min-width: 320px){
  .woocommerce ul.products li.product,
  .woocommerce-page ul.products li.product{
    width: 100%;
    margin: 10px 0;
  }
  .services .new-line {
    padding-bottom: 5px;
    font-size: 26px;
    width: 60%;
    font-style: oblique;
  }
  ol.children {
    margin: 0 !important;
  }
  ol.children img {
    width: 30px;
    border: solid 1px;
  }
  .content-vw #comments ol li {
    padding: 10% 2% 0 0;
  }
  .comment-author img {
    border: solid 1px;
  }
  #comments .reply {
    float: right;
  }
  #comments input[type="submit"].submit {
    width: 100%;
  }
  .content-vw h2 {
    font-size: 27px;
  }
  .woocommerce ul.products li.product,
  .woocommerce-page ul.products li.product{
    width: 100% !important;
    margin: 0 0 6% 0 !important;
  }
}
@media screen and (max-width: 768px) and (min-width: 720px){
  .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    width: 47% !important;
    margin: 3% 0 !important;
  }
  .woocommerce #payment #place_order{
    width: auto;
  }
  .slider .inner_carousel p{
    display: none;
  }
  aside.widget ul{
    margin: 0;
  }
  .sidebar ul li{
    margin: 0 5px 15px;
  }
  #comments p{
    width: 75%;
  }
}
@media screen and (max-width: 999px) and (min-width: 768px){
  .header .top-contact{
    font-size: 15px;
  }
  .footersec input.search-field,
  .footersec  input.search-submit{
    width: 100%;
  }
  .toggle-nav {
    text-align: left;
    margin: 15px 0;
  }
}
@media screen and (max-width: 1024px) and (min-width: 1000px){
  .footer-sec th,
  .footer-sec td,
  .sidebar th,
  .sidebar td{
    padding: 1px;
  }
  a.r_button{
    padding: 5px 10px;
  }
  #our-services .box-content{
    margin-top: 0px;
  }
}